---
import { Image } from "astro:assets"
import Section from "../Section.astro"

import CV from "@cv"
const images = CV.images!;
---

<Section className={Astro.props.className}  title="Graphic Design">
    
</Section>